$accent : #FED777;
$white  : #F5F5F5;
$grey   : #C5C5C5;
$bg     : #151515;
$nav_bg : #1A1A1A;
$border : #00000033;
$bg_gradient : #151515;

@font-face {
    font-family: 'Evo';
    src: url('../fonts/Rocketwildness-7BB8R.ttf');
}

@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin position_r($top, $left) {
    position: relative;
    top: $top;
    left: $left;
}

@mixin position_a($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin center_r() {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center_a() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    height: 100vh;
    background-color: $bg;
    border-bottom: 1px solid $border;
    overflow-x: hidden;
}

nav {
    position: absolute;
    min-height: 10vh;
    width: 100%;
    background: $nav_bg;
    padding: 0 1rem;
    border-bottom: 1px solid $border;
    @include flex(space-between, center, row);
    z-index: 100;

    svg {
        margin: 0;
        z-index: 100;
    }

    #navburger {
        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.333rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

p {
    color: $grey;
    font-size: 0.77rem;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    line-height: 1.5rem;
    text-align: center;
}

a {
    display: block;
    margin: 1rem 0rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

    &:hover {
        color: $accent;
    }
}

span {
    color: $accent;
}

footer {
    height: 80vh;
    background-color: $bg;
    border-top: 1px solid $border;
    @include flex(space-around, center, column);

    .footer-logo {
        @include flex(space-between, center, column);
    }

    .hr-footer {
        width: 33.333%;
    }

    ul {
        @include flex(space-around, center, column);
    }

    svg {
        margin-bottom: 2rem;
    }
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateY(-100%);
    width: 100vw;
    background-color: $nav_bg;
    border-bottom: 1px solid $border;
    text-align: center;
    transition: all 1s;
}

.nav-content-wrapper {
    @include position_r(25%, 0%);
    @include flex(space-between, center, column);
    opacity: 0;
    transition: opacity 2s;
}

.nav-links {
    
    a {
        font-size: 3rem;
        margin: 2rem 0rem;
    }
}

#nav-menu-mascot {
    @include position_r(0%, 2.5%);
}

.nav-menu-active {
    transform: translateY(0%);
}

.scaled-down {
    transform: scale(0.75);
}

.active {
    color: $accent;
    
    path {
        fill: $accent;
    }
}

.overflow {
    overflow: hidden;
}

.nav-content-wrapper.show {
    opacity: 1;
    display: flex;
}

.logo {
    animation: logoSpin 77s linear infinite;
    
}

@keyframes logoSpin {
    0% {
       transform: rotate(0deg) scale(0.75);
    }

    100% {
        transform: rotate(360deg) scale(0.75);
    }


}

@media (min-width: 1024px) {
    
    nav {
        position: fixed;
        background: rgba(221, 221, 221, 0.02);

        a {
            margin: 0;
            cursor: pointer;
            transition: all 0.5s;
            
            &:hover {
                opacity: 0.5;
            }
        }
    }

    footer {

        height: 20vh;
        flex-direction: row;

        .footer-logo {
            
            flex-direction: row;

            a {
                margin: 0;

                svg {
                    margin: 0;
                }
            }

            h2 {
                margin-left: 5%;
            }
        }

        ul {

            a{
                font-size: 1.2rem;
            }
        }

        a {
                margin-bottom: 0;
        }

    }

    .nav-content-wrapper {
        flex-direction: row;
        justify-content: space-around;

        a {
            text-align: left;
        }

        #nav-menu-instagram {
            @include position_a(100%, 90%);
        }

    }

    .instagram {
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }

}

