.hero {
    background-image: url('../img/own/30.jpg');
}

span {
    color: #CCA377;
}

.about {
    min-height: 100vh;
    background-color: #222222;
}

.about-head {
    min-height: 66vh;
    display: flex;
}

.left-div {
    background-color: mediumspringgreen;
    flex: 10 1 50rem;
    padding: 4rem;
    border: 0.3rem solid #222222;
}

.left-div h2 {
    margin-bottom: 5rem;
    text-align: center;
}

.right-div {
    background-color: mediumvioletred;
    flex: 1 1 50rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.right-div-img {
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#img-1 { background-image: url('../img/own/42.jpg'); }
#img-2 { 
    background-image: url('../img/own/43.jpg');
    background-position: 70% 20%;
}
#img-3 { 
    background-image: url('../img/own/44.jpg');
    background-position: center;
}