
#computer-wrapper {
    display: none;
}


a {
    text-decoration: none;
    color: #AAF0D1;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.mobile-heroimage {
    background-image: url('../images/index/1.jpg');
}

#section-projects {
    position: relative;
}

.project-movingimg {
    position: absolute;
    background-image: url('../images/index/2.jpg');
    background-position: 15%;
    animation: 3s ease-in-out alternate infinite;
}

#project-movingimg-1 {
    top: 10%;
    left: 2%;
}

#project-movingimg-2 {
    top: 20%;
    left: 3%;
}

#project-movingimg-3 {
    top: 30%;
    left: 4%;
}

#project-movingimg-4 {
    top: 40%;
    left: 5%;
}

#project-movingimg-5 {
    top: 50%;
    left: 6%;
}

#project-movingimg-6 {
    top: 60%;
    left: 7%;
}

#project-button {
    position: absolute;
    top: 75%;
    left: 8%;
    border: transparent;
}

#section-testimonials {
    position: relative;
}

#testimonial-personimg {
    background-image: url('../images/index/3.jpg');
    background-position: top;
}

#testimonial-artstimgbg {
    position: absolute;
    top: 10%;
}

#testimonial-personimg {
    position: absolute;
    top: -5%;
}

#testimonial-text {
    position: absolute;
    top: 50%;
}

.project-animationName1 {
    animation-name: project_animation_down;
}

.project-animationName2 {
    animation-name: project_animation_down;
}

/* @keyframes project_animation_down {
    0% {
        top: 25%;
    }

    100% {
        top: 5%;
    }
}

@keyframes project_animation_up {
    0% {
        top: 80%;
    }

    100% {
        top: 50%;
    }
} */