/* ========================================================================= */

/* Both */

/* ========================================================================= */

/* Mobile Navbar */

/* ========================================================================= */

#menu-hamburger {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 1.75em;
  z-index: 3;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
  
  .sidenav a {
  /* padding: 8px 8px 8px 32px; */
  font-size: 25px;
  display: block;
  transition: 0.3s;
}
  
  .sidenav a:hover {
  color: #f1f1f1;
}

  .active {
  color: #FFFFFF;
}
  
  .sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* #mobile-navlinks {
    font-size: 1.2em;
}

#mobile-navbar {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 10;
} */

#wrapper-cardbackground {
  background-color: #3333339c;
}

/* ========================================================================= */

/* Computer Navbar */

/* ========================================================================= */

@media (min-width: 992px) { 

  #navbar {
  position: fixed;
  width: 5%;
  background-color: #2C2D32;
  z-index: 10;
}

.menu-icon {
  list-style-type: none;
  height: 4vh;
  width: 2.5vw;
  margin-top: 33%;
  padding: 17.5%;
}

ul li button {
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 4;
}

#openNavScreen {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 5%;
  background-color: #272727f1;
  overflow-y: hidden;
  transition: 0.5s;
}

.openNavScreen-li:hover {
  cursor: pointer;
  color: #FED777;
}

.menu-btn:focus {
  outline: none;
}

#openNavScreen-ul {
  list-style-type: none;
  font-size: 1.2em;
}

.menu-btn_burger
{
  height: 5%;
  width: 100%;
  top: 50%;
  left: 0%;
  background-color: #FED777;
}

.menu-btn_burger::before {
  content: "";
  position: absolute;
  height: 5%;
  width: 80%;
  top: 25%;
  left: 0%;
  background-color: #FED777;
}

#computer-menu-buttontext {
  font-size: 0.7em;
  letter-spacing: 0.15em;
  color: #8B8B8B;
}

.fab, .fas {
  color: #FED777;
}

.fab:hover {
  color: white;
}

}