@import "global";

.project-hero-section {
    overflow-y: hidden;
}

.project-hero-section-content-wrapper {
    position: relative;
    height: 80vh;
    padding: 0 2rem;
    @include position_r(25%, 0%);
    @include flex(space-around, center, column);
}

.project-showcase {
    height: 100vh;

    img {
        height: 33%;
        width: 100%;
        object-fit: cover;
    }
}








// -- computer --
@media (min-width: 1024px) {

}