@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin center() {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

$blue : #6F7C9E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: $blue;
}

h4 {
    font-size: 1.3rem;
    color: white;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

li {
    // text-align: left;
    font-size: 1.1rem;
}

hr {
    width: 100%;
    opacity: 0.25;
    margin: 2rem 0;
}
    
.blue {
    color: $blue;
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.list {
    // text-align: left;
    margin: 2rem 0;
    margin-left: 3.3rem;
}

.center {
    text-align: center;
}

.half {
    position: relative;
    left: 50%;
    width: 33%;
    transform: translateX(-50%);
}

section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    @include center();
}

button {
    width: 15%;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    background-color: transparent;
    padding: 1rem;
    color: white;
    // transform: translateY(-500%);
}

.contact-info-wrapper {
    position: absolute;
    bottom: 0%;
    min-height: 10vh;
    width: 100%;
    background-color: #191919;
    padding: 1rem;
    @include flex(space-around, center, row);
}

.contact-info {
    // width: 33%;
    text-align: center;
}

.resume-section {
    background-color: whitesmoke;
    @include center();
    // text-align: center;
}

.resume-wrapper {
    position: relative;
    min-height: 90%;
    min-width: 80%;
    margin: 10rem 0;
    // border: 1px solid #151515;
    box-shadow: 0 0 33px 1px #dddddd;
    border-radius: 3px;
    padding: 5rem;
}

ul p {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

    #drawing-text {
        display: none;
    }

    .hero-section {
        height: 50vh;
    }

    .contact-info-wrapper {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .resume-wrapper {
        padding: 2rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}